In [1]:
import pandas as pd
import numpy as np
import os
from sklearn.preprocessing import StandardScaler,OneHotEncoder,MinMaxScaler, LabelEncoder

In [2]:
Grouped_Player_Avgs_data = os.path.join('../CleanData/Players_Avg_Stats_09_21_clean.csv')
Grouped_Player_Avgs_df = pd.read_csv(Grouped_Player_Avgs_data)
Grouped_Player_Avgs_df

,pid,GP,Min_per,Ortg,usg,eFG,TS_per,ORB_per,DRB_per,AST_per,...,pts,Drafted,Round_Drafted,Number_of_Yrs_Played,Last_Yr_in_College_Date_Yr,player_name,Last_Yr_in_College_team,Last_Yr_in_College_conf,Last_Yr_in_College_School_Yr,Last_Yr_in_College_Position
0,2,26.0,29.500000,97.3,16.600000,42.500000,44.430000,1.6,4.6,15.8,...,3.884600,0.0,0.0,1,2009,DEANDRAE ROSS,South Alabama,SB,So,Unknown
1,3,33.0,63.133333,107.4,17.233333,51.166667,53.403333,2.3,6.2,14.8,...,7.796367,0.0,0.0,3,2011,POOH WILLIAMS,Utah St.,WAC,Sr,Combo G
2,5,27.0,72.000000,96.2,21.800000,45.700000,47.980000,2.1,8.0,14.7,...,12.185200,0.0,0.0,1,2009,JESUS VERDEJO,South Florida,BE,Sr,Unknown
3,8,30.0,44.500000,97.7,16.000000,53.600000,53.690000,4.1,9.4,13.7,...,4.933300,0.0,0.0,1,2009,MIKE HORNBUCKLE,Pepperdine,WCC,Sr,Unknown
4,9,33.0,56.200000,96.5,22.000000,52.800000,54.310000,8.3,18.6,8.2,...,7.575800,0.0,0.0,1,2009,ANTHONY BROWN,Pacific,BW,Sr,Unknown
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22364,74196,8.0,3.700000,92.7,13.400000,40.000000,45.660000,7.4,21.4,17.4,...,0.625000,0.0,0.0,1,2021,ISAIAH FOLKES,Charlotte,CUSA,Fr,Wing G
22365,74203,16.0,12.900000,129.5,13.200000,67.900000,65.840000,8.5,8.5,2.4,...,2.812500,0.0,0.0,1,2021,FRANCK KEPNANG,Oregon,P12,Fr,C
22366,74213,10.0,5.900000,47.2,28.600000,11.900000,17.110000,0.0,24.9,13.8,...,1.727300,0.0,0.0,1,2021,GERALD DOAKES,New Mexico St.,WAC,Fr,Wing G
22367,74217,9.0,17.100000,86.9,21.800000,39.100000,40.090000,7.3,12.3,6.5,...,5.111100,0.0,0.0,1,2021,DAVID JONES,DePaul,BE,Fr,Wing F
22368,74218,13.0,11.000000,99.1,15.100000,60.000000,55.370000,10.2,21.2,3.8,...,2.615400,0.0,0.0,1,2021,MAC ETIENNE,UCLA,P12,Fr,C

In [3]:
Conferences_to_keep = ['ACC','SEC','B12','P12','B10','BE','MWC','P10','WCC','Amer','A10','CUSA','OVC','Horz','CAA',
                       'WAC','SB','Pat','BSky','Sum','SC','MVC','MAC','BW','MEAC','Ivy']

In [4]:
Grouped_Player_Avgs_df= Grouped_Player_Avgs_df[Grouped_Player_Avgs_df['Last_Yr_in_College_conf'].isin(Conferences_to_keep)]
Grouped_Player_Avgs_df

,pid,GP,Min_per,Ortg,usg,eFG,TS_per,ORB_per,DRB_per,AST_per,...,pts,Drafted,Round_Drafted,Number_of_Yrs_Played,Last_Yr_in_College_Date_Yr,player_name,Last_Yr_in_College_team,Last_Yr_in_College_conf,Last_Yr_in_College_School_Yr,Last_Yr_in_College_Position
0,2,26.0,29.500000,97.3,16.600000,42.500000,44.430000,1.6,4.6,15.8,...,3.884600,0.0,0.0,1,2009,DEANDRAE ROSS,South Alabama,SB,So,Unknown
1,3,33.0,63.133333,107.4,17.233333,51.166667,53.403333,2.3,6.2,14.8,...,7.796367,0.0,0.0,3,2011,POOH WILLIAMS,Utah St.,WAC,Sr,Combo G
2,5,27.0,72.000000,96.2,21.800000,45.700000,47.980000,2.1,8.0,14.7,...,12.185200,0.0,0.0,1,2009,JESUS VERDEJO,South Florida,BE,Sr,Unknown
3,8,30.0,44.500000,97.7,16.000000,53.600000,53.690000,4.1,9.4,13.7,...,4.933300,0.0,0.0,1,2009,MIKE HORNBUCKLE,Pepperdine,WCC,Sr,Unknown
4,9,33.0,56.200000,96.5,22.000000,52.800000,54.310000,8.3,18.6,8.2,...,7.575800,0.0,0.0,1,2009,ANTHONY BROWN,Pacific,BW,Sr,Unknown
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22364,74196,8.0,3.700000,92.7,13.400000,40.000000,45.660000,7.4,21.4,17.4,...,0.625000,0.0,0.0,1,2021,ISAIAH FOLKES,Charlotte,CUSA,Fr,Wing G
22365,74203,16.0,12.900000,129.5,13.200000,67.900000,65.840000,8.5,8.5,2.4,...,2.812500,0.0,0.0,1,2021,FRANCK KEPNANG,Oregon,P12,Fr,C
22366,74213,10.0,5.900000,47.2,28.600000,11.900000,17.110000,0.0,24.9,13.8,...,1.727300,0.0,0.0,1,2021,GERALD DOAKES,New Mexico St.,WAC,Fr,Wing G
22367,74217,9.0,17.100000,86.9,21.800000,39.100000,40.090000,7.3,12.3,6.5,...,5.111100,0.0,0.0,1,2021,DAVID JONES,DePaul,BE,Fr,Wing F
22368,74218,13.0,11.000000,99.1,15.100000,60.000000,55.370000,10.2,21.2,3.8,...,2.615400,0.0,0.0,1,2021,MAC ETIENNE,UCLA,P12,Fr,C

In [5]:
Grouped_Player_Avgs_df['Last_Yr_in_College_conf'].unique()

array(['SB', 'WAC', 'BE', 'WCC', 'BW', 'Horz', 'A10', 'ACC', 'SEC', 'Pat',
       'CAA', 'MVC', 'MAC', 'B12', 'CUSA', 'MEAC', 'P10', 'B10', 'SC',
       'Ivy', 'Sum', 'MWC', 'BSky', 'OVC', 'P12', 'Amer'], dtype=object)

In [6]:
enc = LabelEncoder()

enc_column = enc.fit_transform(Grouped_Player_Avgs_df['Last_Yr_in_College_team'])
enc_column2 = enc.fit_transform(Grouped_Player_Avgs_df['Last_Yr_in_College_conf'])

Grouped_Player_Avgs_df['Last_Yr_in_College_team'] = enc_column
Grouped_Player_Avgs_df['Last_Yr_in_College_conf'] = enc_column2

Grouped_Player_Avgs_df

C:\Users\tyler\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\tyler\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys

,pid,GP,Min_per,Ortg,usg,eFG,TS_per,ORB_per,DRB_per,AST_per,...,pts,Drafted,Round_Drafted,Number_of_Yrs_Played,Last_Yr_in_College_Date_Yr,player_name,Last_Yr_in_College_team,Last_Yr_in_College_conf,Last_Yr_in_College_School_Yr,Last_Yr_in_College_Position
0,2,26.0,29.500000,97.3,16.600000,42.500000,44.430000,1.6,4.6,15.8,...,3.884600,0.0,0.0,1,2009,DEANDRAE ROSS,213,20,So,Unknown
1,3,33.0,63.133333,107.4,17.233333,51.166667,53.403333,2.3,6.2,14.8,...,7.796367,0.0,0.0,3,2011,POOH WILLIAMS,262,24,Sr,Combo G
2,5,27.0,72.000000,96.2,21.800000,45.700000,47.980000,2.1,8.0,14.7,...,12.185200,0.0,0.0,1,2009,JESUS VERDEJO,218,5,Sr,Unknown
3,8,30.0,44.500000,97.7,16.000000,53.600000,53.690000,4.1,9.4,13.7,...,4.933300,0.0,0.0,1,2009,MIKE HORNBUCKLE,186,25,Sr,Unknown
4,9,33.0,56.200000,96.5,22.000000,52.800000,54.310000,8.3,18.6,8.2,...,7.575800,0.0,0.0,1,2009,ANTHONY BROWN,183,7,Sr,Unknown
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22364,74196,8.0,3.700000,92.7,13.400000,40.000000,45.660000,7.4,21.4,17.4,...,0.625000,0.0,0.0,1,2021,ISAIAH FOLKES,35,9,Fr,Wing G
22365,74203,16.0,12.900000,129.5,13.200000,67.900000,65.840000,8.5,8.5,2.4,...,2.812500,0.0,0.0,1,2021,FRANCK KEPNANG,181,18,Fr,C
22366,74213,10.0,5.900000,47.2,28.600000,11.900000,17.110000,0.0,24.9,13.8,...,1.727300,0.0,0.0,1,2021,GERALD DOAKES,156,24,Fr,Wing G
22367,74217,9.0,17.100000,86.9,21.800000,39.100000,40.090000,7.3,12.3,6.5,...,5.111100,0.0,0.0,1,2021,DAVID JONES,54,5,Fr,Wing F
22368,74218,13.0,11.000000,99.1,15.100000,60.000000,55.370000,10.2,21.2,3.8,...,2.615400,0.0,0.0,1,2021,MAC ETIENNE,251,18,Fr,C

In [7]:
drop_list = ['rimmade','rimmade+rimmiss',
            'midmade','midmade+midmiss','rimmade/(rimmade+rimmiss)',
            'midmade/(midmade+midmiss)','dunksmade','dunksmiss+dunksmade',
            'dunksmade/(dunksmade+dunksmiss)']

In [8]:
Grouped_Player_Avgs_Clean = Grouped_Player_Avgs_df.drop(columns=drop_list)
Grouped_Player_Avgs_Clean

,pid,GP,Min_per,Ortg,usg,eFG,TS_per,ORB_per,DRB_per,AST_per,...,pts,Drafted,Round_Drafted,Number_of_Yrs_Played,Last_Yr_in_College_Date_Yr,player_name,Last_Yr_in_College_team,Last_Yr_in_College_conf,Last_Yr_in_College_School_Yr,Last_Yr_in_College_Position
0,2,26.0,29.500000,97.3,16.600000,42.500000,44.430000,1.6,4.6,15.8,...,3.884600,0.0,0.0,1,2009,DEANDRAE ROSS,213,20,So,Unknown
1,3,33.0,63.133333,107.4,17.233333,51.166667,53.403333,2.3,6.2,14.8,...,7.796367,0.0,0.0,3,2011,POOH WILLIAMS,262,24,Sr,Combo G
2,5,27.0,72.000000,96.2,21.800000,45.700000,47.980000,2.1,8.0,14.7,...,12.185200,0.0,0.0,1,2009,JESUS VERDEJO,218,5,Sr,Unknown
3,8,30.0,44.500000,97.7,16.000000,53.600000,53.690000,4.1,9.4,13.7,...,4.933300,0.0,0.0,1,2009,MIKE HORNBUCKLE,186,25,Sr,Unknown
4,9,33.0,56.200000,96.5,22.000000,52.800000,54.310000,8.3,18.6,8.2,...,7.575800,0.0,0.0,1,2009,ANTHONY BROWN,183,7,Sr,Unknown
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22364,74196,8.0,3.700000,92.7,13.400000,40.000000,45.660000,7.4,21.4,17.4,...,0.625000,0.0,0.0,1,2021,ISAIAH FOLKES,35,9,Fr,Wing G
22365,74203,16.0,12.900000,129.5,13.200000,67.900000,65.840000,8.5,8.5,2.4,...,2.812500,0.0,0.0,1,2021,FRANCK KEPNANG,181,18,Fr,C
22366,74213,10.0,5.900000,47.2,28.600000,11.900000,17.110000,0.0,24.9,13.8,...,1.727300,0.0,0.0,1,2021,GERALD DOAKES,156,24,Fr,Wing G
22367,74217,9.0,17.100000,86.9,21.800000,39.100000,40.090000,7.3,12.3,6.5,...,5.111100,0.0,0.0,1,2021,DAVID JONES,54,5,Fr,Wing F
22368,74218,13.0,11.000000,99.1,15.100000,60.000000,55.370000,10.2,21.2,3.8,...,2.615400,0.0,0.0,1,2021,MAC ETIENNE,251,18,Fr,C

In [9]:
Grouped_Player_Avgs_Clean= Grouped_Player_Avgs_Clean[Grouped_Player_Avgs_Clean['mp'] >= 7.48]
Grouped_Player_Avgs_Clean

,pid,GP,Min_per,Ortg,usg,eFG,TS_per,ORB_per,DRB_per,AST_per,...,pts,Drafted,Round_Drafted,Number_of_Yrs_Played,Last_Yr_in_College_Date_Yr,player_name,Last_Yr_in_College_team,Last_Yr_in_College_conf,Last_Yr_in_College_School_Yr,Last_Yr_in_College_Position
0,2,26.0,29.500000,97.3,16.600000,42.500000,44.430000,1.6,4.6,15.8,...,3.884600,0.0,0.0,1,2009,DEANDRAE ROSS,213,20,So,Unknown
1,3,33.0,63.133333,107.4,17.233333,51.166667,53.403333,2.3,6.2,14.8,...,7.796367,0.0,0.0,3,2011,POOH WILLIAMS,262,24,Sr,Combo G
2,5,27.0,72.000000,96.2,21.800000,45.700000,47.980000,2.1,8.0,14.7,...,12.185200,0.0,0.0,1,2009,JESUS VERDEJO,218,5,Sr,Unknown
3,8,30.0,44.500000,97.7,16.000000,53.600000,53.690000,4.1,9.4,13.7,...,4.933300,0.0,0.0,1,2009,MIKE HORNBUCKLE,186,25,Sr,Unknown
4,9,33.0,56.200000,96.5,22.000000,52.800000,54.310000,8.3,18.6,8.2,...,7.575800,0.0,0.0,1,2009,ANTHONY BROWN,183,7,Sr,Unknown
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22359,74187,19.0,57.800000,109.5,17.500000,59.100000,61.380000,5.9,16.2,8.8,...,9.894700,0.0,0.0,1,2021,MUSTAPHA AMZIL,53,0,Fr,Stretch 4
22361,74190,18.0,47.500000,67.4,20.700000,37.200000,38.000000,0.9,11.8,23.8,...,4.631600,0.0,0.0,1,2021,CARTER WHITT,271,1,Fr,Scoring PG
22365,74203,16.0,12.900000,129.5,13.200000,67.900000,65.840000,8.5,8.5,2.4,...,2.812500,0.0,0.0,1,2021,FRANCK KEPNANG,181,18,Fr,C
22367,74217,9.0,17.100000,86.9,21.800000,39.100000,40.090000,7.3,12.3,6.5,...,5.111100,0.0,0.0,1,2021,DAVID JONES,54,5,Fr,Wing F
22368,74218,13.0,11.000000,99.1,15.100000,60.000000,55.370000,10.2,21.2,3.8,...,2.615400,0.0,0.0,1,2021,MAC ETIENNE,251,18,Fr,C

In [10]:
Drafted_df = Grouped_Player_Avgs_Clean[Grouped_Player_Avgs_Clean['Drafted'] == 1]
Drafted_df

,pid,GP,Min_per,Ortg,usg,eFG,TS_per,ORB_per,DRB_per,AST_per,...,pts,Drafted,Round_Drafted,Number_of_Yrs_Played,Last_Yr_in_College_Date_Yr,player_name,Last_Yr_in_College_team,Last_Yr_in_College_conf,Last_Yr_in_College_School_Yr,Last_Yr_in_College_Position
32,57,32.000000,90.033333,112.300000,29.200000,50.200000,56.323333,2.500000,10.200000,29.600000,...,21.005367,1.0,2.0,3,2011,CHARLES JENKINS,94,8,Sr,Scoring PG
49,91,35.500000,61.100000,111.900000,22.050000,60.000000,59.310000,11.400000,13.950000,7.100000,...,11.063200,1.0,2.0,2,2011,VERNON MACKLIN,73,22,Sr,C
106,193,33.000000,51.100000,89.750000,19.000000,46.550000,50.070000,9.700000,11.200000,9.000000,...,5.844250,1.0,2.0,2,2010,RYAN REID,76,1,Sr,C
108,197,38.000000,85.733333,113.833333,24.500000,49.900000,54.343333,8.533333,14.866667,12.566667,...,17.008800,1.0,2.0,3,2011,KYLE SINGLER,62,1,Sr,Wing F
109,198,36.333333,73.000000,111.600000,25.033333,49.633333,54.560000,3.500000,7.966667,21.033333,...,15.466467,1.0,1.0,3,2011,NOLAN SMITH,62,1,Sr,Scoring PG
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22072,73518,29.000000,47.900000,101.900000,27.500000,51.900000,52.090000,18.300000,23.800000,15.400000,...,9.482800,1.0,1.0,1,2021,DAY'RON SHARPE,159,1,Fr,C
22074,73524,25.000000,51.100000,108.000000,21.300000,54.000000,58.690000,11.300000,23.400000,7.500000,...,8.440000,1.0,1.0,1,2021,ISAIAH JACKSON,114,22,Fr,C
22143,73630,26.000000,48.900000,91.700000,25.800000,49.700000,53.480000,6.800000,25.700000,3.800000,...,9.346200,1.0,2.0,1,2021,GREG BROWN III,234,4,Fr,PF/C
22178,73686,27.000000,62.500000,95.200000,27.300000,47.400000,51.710000,4.800000,11.200000,21.200000,...,11.259300,1.0,1.0,1,2021,KEON JOHNSON,230,22,Fr,Wing G
22208,73723,25.000000,75.900000,96.400000,21.400000,40.700000,44.720000,4.700000,11.100000,11.300000,...,11.480000,1.0,2.0,1,2021,BRANDON BOSTON JR.,114,22,Fr,Wing G

In [11]:
Undrafted_df = Grouped_Player_Avgs_Clean[Grouped_Player_Avgs_Clean['Drafted'] == 0]
Undrafted_df

,pid,GP,Min_per,Ortg,usg,eFG,TS_per,ORB_per,DRB_per,AST_per,...,pts,Drafted,Round_Drafted,Number_of_Yrs_Played,Last_Yr_in_College_Date_Yr,player_name,Last_Yr_in_College_team,Last_Yr_in_College_conf,Last_Yr_in_College_School_Yr,Last_Yr_in_College_Position
0,2,26.0,29.500000,97.3,16.600000,42.500000,44.430000,1.6,4.6,15.8,...,3.884600,0.0,0.0,1,2009,DEANDRAE ROSS,213,20,So,Unknown
1,3,33.0,63.133333,107.4,17.233333,51.166667,53.403333,2.3,6.2,14.8,...,7.796367,0.0,0.0,3,2011,POOH WILLIAMS,262,24,Sr,Combo G
2,5,27.0,72.000000,96.2,21.800000,45.700000,47.980000,2.1,8.0,14.7,...,12.185200,0.0,0.0,1,2009,JESUS VERDEJO,218,5,Sr,Unknown
3,8,30.0,44.500000,97.7,16.000000,53.600000,53.690000,4.1,9.4,13.7,...,4.933300,0.0,0.0,1,2009,MIKE HORNBUCKLE,186,25,Sr,Unknown
4,9,33.0,56.200000,96.5,22.000000,52.800000,54.310000,8.3,18.6,8.2,...,7.575800,0.0,0.0,1,2009,ANTHONY BROWN,183,7,Sr,Unknown
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22359,74187,19.0,57.800000,109.5,17.500000,59.100000,61.380000,5.9,16.2,8.8,...,9.894700,0.0,0.0,1,2021,MUSTAPHA AMZIL,53,0,Fr,Stretch 4
22361,74190,18.0,47.500000,67.4,20.700000,37.200000,38.000000,0.9,11.8,23.8,...,4.631600,0.0,0.0,1,2021,CARTER WHITT,271,1,Fr,Scoring PG
22365,74203,16.0,12.900000,129.5,13.200000,67.900000,65.840000,8.5,8.5,2.4,...,2.812500,0.0,0.0,1,2021,FRANCK KEPNANG,181,18,Fr,C
22367,74217,9.0,17.100000,86.9,21.800000,39.100000,40.090000,7.3,12.3,6.5,...,5.111100,0.0,0.0,1,2021,DAVID JONES,54,5,Fr,Wing F
22368,74218,13.0,11.000000,99.1,15.100000,60.000000,55.370000,10.2,21.2,3.8,...,2.615400,0.0,0.0,1,2021,MAC ETIENNE,251,18,Fr,C

In [12]:
Undrafted_df = Undrafted_df.sample(n=6200)
Undrafted_df

,pid,GP,Min_per,Ortg,usg,eFG,TS_per,ORB_per,DRB_per,AST_per,...,pts,Drafted,Round_Drafted,Number_of_Yrs_Played,Last_Yr_in_College_Date_Yr,player_name,Last_Yr_in_College_team,Last_Yr_in_College_conf,Last_Yr_in_College_School_Yr,Last_Yr_in_College_Position
17293,50939,30.0,46.366667,96.133333,17.833333,54.933333,55.413333,1.700000,8.966667,11.500000,...,6.528700,0.0,0.0,3,2021,NOAH BAUMANN,256,18,Jr,Wing G
20536,71144,23.0,24.400000,90.000000,14.200000,53.600000,53.460000,6.800000,10.700000,4.400000,...,2.217400,0.0,0.0,1,2021,JONAS VISSER,207,25,So,PF/C
9622,28057,31.0,48.633333,98.566667,17.066667,45.600000,50.123333,2.800000,10.833333,16.266667,...,5.590267,0.0,0.0,3,2016,BRANFORD JONES,120,7,Jr,Combo G
11728,34582,28.0,61.125000,107.275000,26.200000,53.775000,58.217500,2.400000,11.075000,18.725000,...,14.914150,0.0,0.0,4,2018,VICTOR SANDERS,100,6,Sr,Combo G
4204,11590,28.5,28.600000,109.650000,16.500000,55.550000,55.030000,11.450000,17.350000,8.600000,...,4.031450,0.0,0.0,2,2011,MANGISTO AROP,88,25,Jr,Wing F
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9180,26718,31.5,48.800000,96.000000,19.050000,46.300000,52.130000,5.400000,10.600000,11.500000,...,6.353350,0.0,0.0,2,2014,BRANDON MORRIS,84,22,So,Wing G
21453,72511,15.0,15.000000,50.100000,16.100000,28.300000,27.140000,1.000000,10.000000,15.900000,...,0.866700,0.0,0.0,1,2021,KEITH LITTLES,74,13,Jr,Wing G
1992,3631,31.0,38.700000,90.100000,12.800000,51.900000,48.850000,8.100000,16.700000,2.300000,...,2.935500,0.0,0.0,1,2009,ARIS WILLIAMS,218,5,Sr,Unknown
6084,17107,29.0,52.433333,96.233333,15.433333,43.233333,48.563333,8.366667,13.266667,7.800000,...,5.683933,0.0,0.0,3,2015,COLIN VOSS,165,9,Sr,PF/C
13841,40844,25.0,33.200000,108.750000,19.000000,57.350000,56.930000,15.550000,19.800000,5.500000,...,6.485300,0.0,0.0,2,2018,JOHNNY HAMILTON,257,20,Sr,C

In [13]:
Undrafted_df.Last_Yr_in_College_Date_Yr.unique()

array([2021, 2016, 2018, 2011, 2009, 2017, 2010, 2014, 2013, 2015, 2019,
       2020, 2012], dtype=int64)

In [14]:
Equal_df = pd.concat([Drafted_df,Undrafted_df])
Equal_df

,pid,GP,Min_per,Ortg,usg,eFG,TS_per,ORB_per,DRB_per,AST_per,...,pts,Drafted,Round_Drafted,Number_of_Yrs_Played,Last_Yr_in_College_Date_Yr,player_name,Last_Yr_in_College_team,Last_Yr_in_College_conf,Last_Yr_in_College_School_Yr,Last_Yr_in_College_Position
32,57,32.000000,90.033333,112.300000,29.200000,50.200000,56.323333,2.500000,10.200000,29.600000,...,21.005367,1.0,2.0,3,2011,CHARLES JENKINS,94,8,Sr,Scoring PG
49,91,35.500000,61.100000,111.900000,22.050000,60.000000,59.310000,11.400000,13.950000,7.100000,...,11.063200,1.0,2.0,2,2011,VERNON MACKLIN,73,22,Sr,C
106,193,33.000000,51.100000,89.750000,19.000000,46.550000,50.070000,9.700000,11.200000,9.000000,...,5.844250,1.0,2.0,2,2010,RYAN REID,76,1,Sr,C
108,197,38.000000,85.733333,113.833333,24.500000,49.900000,54.343333,8.533333,14.866667,12.566667,...,17.008800,1.0,2.0,3,2011,KYLE SINGLER,62,1,Sr,Wing F
109,198,36.333333,73.000000,111.600000,25.033333,49.633333,54.560000,3.500000,7.966667,21.033333,...,15.466467,1.0,1.0,3,2011,NOLAN SMITH,62,1,Sr,Scoring PG
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9180,26718,31.500000,48.800000,96.000000,19.050000,46.300000,52.130000,5.400000,10.600000,11.500000,...,6.353350,0.0,0.0,2,2014,BRANDON MORRIS,84,22,So,Wing G
21453,72511,15.000000,15.000000,50.100000,16.100000,28.300000,27.140000,1.000000,10.000000,15.900000,...,0.866700,0.0,0.0,1,2021,KEITH LITTLES,74,13,Jr,Wing G
1992,3631,31.000000,38.700000,90.100000,12.800000,51.900000,48.850000,8.100000,16.700000,2.300000,...,2.935500,0.0,0.0,1,2009,ARIS WILLIAMS,218,5,Sr,Unknown
6084,17107,29.000000,52.433333,96.233333,15.433333,43.233333,48.563333,8.366667,13.266667,7.800000,...,5.683933,0.0,0.0,3,2015,COLIN VOSS,165,9,Sr,PF/C
13841,40844,25.000000,33.200000,108.750000,19.000000,57.350000,56.930000,15.550000,19.800000,5.500000,...,6.485300,0.0,0.0,2,2018,JOHNNY HAMILTON,257,20,Sr,C

In [15]:
Categorical_Columns = Equal_df.dtypes[Equal_df.dtypes == "object"].index.tolist()
Categorical_Columns

['player_name', 'Last_Yr_in_College_School_Yr', 'Last_Yr_in_College_Position']

In [16]:
Equal_df.groupby('Number_of_Yrs_Played',as_index=False)['Number_of_Yrs_Played'].count()

   Number_of_Yrs_Played
0                  1587
1                  1928
2                  1282
3                  1999
4                    31

In [17]:
Variables_df = Equal_df
Variables_df

,pid,GP,Min_per,Ortg,usg,eFG,TS_per,ORB_per,DRB_per,AST_per,...,pts,Drafted,Round_Drafted,Number_of_Yrs_Played,Last_Yr_in_College_Date_Yr,player_name,Last_Yr_in_College_team,Last_Yr_in_College_conf,Last_Yr_in_College_School_Yr,Last_Yr_in_College_Position
32,57,32.000000,90.033333,112.300000,29.200000,50.200000,56.323333,2.500000,10.200000,29.600000,...,21.005367,1.0,2.0,3,2011,CHARLES JENKINS,94,8,Sr,Scoring PG
49,91,35.500000,61.100000,111.900000,22.050000,60.000000,59.310000,11.400000,13.950000,7.100000,...,11.063200,1.0,2.0,2,2011,VERNON MACKLIN,73,22,Sr,C
106,193,33.000000,51.100000,89.750000,19.000000,46.550000,50.070000,9.700000,11.200000,9.000000,...,5.844250,1.0,2.0,2,2010,RYAN REID,76,1,Sr,C
108,197,38.000000,85.733333,113.833333,24.500000,49.900000,54.343333,8.533333,14.866667,12.566667,...,17.008800,1.0,2.0,3,2011,KYLE SINGLER,62,1,Sr,Wing F
109,198,36.333333,73.000000,111.600000,25.033333,49.633333,54.560000,3.500000,7.966667,21.033333,...,15.466467,1.0,1.0,3,2011,NOLAN SMITH,62,1,Sr,Scoring PG
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9180,26718,31.500000,48.800000,96.000000,19.050000,46.300000,52.130000,5.400000,10.600000,11.500000,...,6.353350,0.0,0.0,2,2014,BRANDON MORRIS,84,22,So,Wing G
21453,72511,15.000000,15.000000,50.100000,16.100000,28.300000,27.140000,1.000000,10.000000,15.900000,...,0.866700,0.0,0.0,1,2021,KEITH LITTLES,74,13,Jr,Wing G
1992,3631,31.000000,38.700000,90.100000,12.800000,51.900000,48.850000,8.100000,16.700000,2.300000,...,2.935500,0.0,0.0,1,2009,ARIS WILLIAMS,218,5,Sr,Unknown
6084,17107,29.000000,52.433333,96.233333,15.433333,43.233333,48.563333,8.366667,13.266667,7.800000,...,5.683933,0.0,0.0,3,2015,COLIN VOSS,165,9,Sr,PF/C
13841,40844,25.000000,33.200000,108.750000,19.000000,57.350000,56.930000,15.550000,19.800000,5.500000,...,6.485300,0.0,0.0,2,2018,JOHNNY HAMILTON,257,20,Sr,C

In [18]:
#Drop Columns that aren't variables to predicting drafted/undrafted
Variables_df = Variables_df.drop(columns=['pid','player_name','pick','Drafted','Round_Drafted'])
Variables_df

,GP,Min_per,Ortg,usg,eFG,TS_per,ORB_per,DRB_per,AST_per,TO_per,...,ast,stl,blk,pts,Number_of_Yrs_Played,Last_Yr_in_College_Date_Yr,Last_Yr_in_College_team,Last_Yr_in_College_conf,Last_Yr_in_College_School_Yr,Last_Yr_in_College_Position
32,32.000000,90.033333,112.300000,29.200000,50.200000,56.323333,2.500000,10.200000,29.600000,16.333333,...,4.326600,1.631267,0.540700,21.005367,3,2011,94,8,Sr,Scoring PG
49,35.500000,61.100000,111.900000,22.050000,60.000000,59.310000,11.400000,13.950000,7.100000,16.950000,...,0.787750,0.469800,0.777800,11.063200,2,2011,73,22,Sr,C
106,33.000000,51.100000,89.750000,19.000000,46.550000,50.070000,9.700000,11.200000,9.000000,27.700000,...,0.935950,0.618850,0.586600,5.844250,2,2010,76,1,Sr,C
108,38.000000,85.733333,113.833333,24.500000,49.900000,54.343333,8.533333,14.866667,12.566667,14.666667,...,2.142333,1.161467,0.717100,17.008800,3,2011,62,1,Sr,Wing F
109,36.333333,73.000000,111.600000,25.033333,49.633333,54.560000,3.500000,7.966667,21.033333,17.066667,...,3.271333,1.113867,0.125567,15.466467,3,2011,62,1,Sr,Scoring PG
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9180,31.500000,48.800000,96.000000,19.050000,46.300000,52.130000,5.400000,10.600000,11.500000,22.050000,...,1.069100,0.509550,0.271650,6.353350,2,2014,84,22,So,Wing G
21453,15.000000,15.000000,50.100000,16.100000,28.300000,27.140000,1.000000,10.000000,15.900000,40.800000,...,0.733300,0.200000,0.000000,0.866700,1,2021,74,13,Jr,Wing G
1992,31.000000,38.700000,90.100000,12.800000,51.900000,48.850000,8.100000,16.700000,2.300000,20.600000,...,0.161300,0.258100,0.387100,2.935500,1,2009,218,5,Sr,Unknown
6084,29.000000,52.433333,96.233333,15.433333,43.233333,48.563333,8.366667,13.266667,7.800000,20.700000,...,0.895100,0.409733,0.424733,5.683933,3,2015,165,9,Sr,PF/C
13841,25.000000,33.200000,108.750000,19.000000,57.350000,56.930000,15.550000,19.800000,5.500000,18.350000,...,0.397050,0.250000,1.602950,6.485300,2,2018,257,20,Sr,C

In [19]:
Categorical_Columns = Variables_df.dtypes[Variables_df.dtypes == "object"].index.tolist()
Categorical_Columns

['Last_Yr_in_College_School_Yr', 'Last_Yr_in_College_Position']

In [20]:
#Encode School_Yr
School_Yr_dict = {
    'Fr':1,
    'So':2,
    'Jr':3,
    'Sr':4
}

In [21]:
Variables_df["Last_Yr_in_College_School_Yr_Num"] = Variables_df["Last_Yr_in_College_School_Yr"].apply(lambda x: School_Yr_dict[x])
Variables_df

,GP,Min_per,Ortg,usg,eFG,TS_per,ORB_per,DRB_per,AST_per,TO_per,...,stl,blk,pts,Number_of_Yrs_Played,Last_Yr_in_College_Date_Yr,Last_Yr_in_College_team,Last_Yr_in_College_conf,Last_Yr_in_College_School_Yr,Last_Yr_in_College_Position,Last_Yr_in_College_School_Yr_Num
32,32.000000,90.033333,112.300000,29.200000,50.200000,56.323333,2.500000,10.200000,29.600000,16.333333,...,1.631267,0.540700,21.005367,3,2011,94,8,Sr,Scoring PG,4
49,35.500000,61.100000,111.900000,22.050000,60.000000,59.310000,11.400000,13.950000,7.100000,16.950000,...,0.469800,0.777800,11.063200,2,2011,73,22,Sr,C,4
106,33.000000,51.100000,89.750000,19.000000,46.550000,50.070000,9.700000,11.200000,9.000000,27.700000,...,0.618850,0.586600,5.844250,2,2010,76,1,Sr,C,4
108,38.000000,85.733333,113.833333,24.500000,49.900000,54.343333,8.533333,14.866667,12.566667,14.666667,...,1.161467,0.717100,17.008800,3,2011,62,1,Sr,Wing F,4
109,36.333333,73.000000,111.600000,25.033333,49.633333,54.560000,3.500000,7.966667,21.033333,17.066667,...,1.113867,0.125567,15.466467,3,2011,62,1,Sr,Scoring PG,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9180,31.500000,48.800000,96.000000,19.050000,46.300000,52.130000,5.400000,10.600000,11.500000,22.050000,...,0.509550,0.271650,6.353350,2,2014,84,22,So,Wing G,2
21453,15.000000,15.000000,50.100000,16.100000,28.300000,27.140000,1.000000,10.000000,15.900000,40.800000,...,0.200000,0.000000,0.866700,1,2021,74,13,Jr,Wing G,3
1992,31.000000,38.700000,90.100000,12.800000,51.900000,48.850000,8.100000,16.700000,2.300000,20.600000,...,0.258100,0.387100,2.935500,1,2009,218,5,Sr,Unknown,4
6084,29.000000,52.433333,96.233333,15.433333,43.233333,48.563333,8.366667,13.266667,7.800000,20.700000,...,0.409733,0.424733,5.683933,3,2015,165,9,Sr,PF/C,4
13841,25.000000,33.200000,108.750000,19.000000,57.350000,56.930000,15.550000,19.800000,5.500000,18.350000,...,0.250000,1.602950,6.485300,2,2018,257,20,Sr,C,4

In [22]:
Variables_df = Variables_df.drop(columns = ['Last_Yr_in_College_School_Yr'], axis=1)
Variables_df

,GP,Min_per,Ortg,usg,eFG,TS_per,ORB_per,DRB_per,AST_per,TO_per,...,ast,stl,blk,pts,Number_of_Yrs_Played,Last_Yr_in_College_Date_Yr,Last_Yr_in_College_team,Last_Yr_in_College_conf,Last_Yr_in_College_Position,Last_Yr_in_College_School_Yr_Num
32,32.000000,90.033333,112.300000,29.200000,50.200000,56.323333,2.500000,10.200000,29.600000,16.333333,...,4.326600,1.631267,0.540700,21.005367,3,2011,94,8,Scoring PG,4
49,35.500000,61.100000,111.900000,22.050000,60.000000,59.310000,11.400000,13.950000,7.100000,16.950000,...,0.787750,0.469800,0.777800,11.063200,2,2011,73,22,C,4
106,33.000000,51.100000,89.750000,19.000000,46.550000,50.070000,9.700000,11.200000,9.000000,27.700000,...,0.935950,0.618850,0.586600,5.844250,2,2010,76,1,C,4
108,38.000000,85.733333,113.833333,24.500000,49.900000,54.343333,8.533333,14.866667,12.566667,14.666667,...,2.142333,1.161467,0.717100,17.008800,3,2011,62,1,Wing F,4
109,36.333333,73.000000,111.600000,25.033333,49.633333,54.560000,3.500000,7.966667,21.033333,17.066667,...,3.271333,1.113867,0.125567,15.466467,3,2011,62,1,Scoring PG,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9180,31.500000,48.800000,96.000000,19.050000,46.300000,52.130000,5.400000,10.600000,11.500000,22.050000,...,1.069100,0.509550,0.271650,6.353350,2,2014,84,22,Wing G,2
21453,15.000000,15.000000,50.100000,16.100000,28.300000,27.140000,1.000000,10.000000,15.900000,40.800000,...,0.733300,0.200000,0.000000,0.866700,1,2021,74,13,Wing G,3
1992,31.000000,38.700000,90.100000,12.800000,51.900000,48.850000,8.100000,16.700000,2.300000,20.600000,...,0.161300,0.258100,0.387100,2.935500,1,2009,218,5,Unknown,4
6084,29.000000,52.433333,96.233333,15.433333,43.233333,48.563333,8.366667,13.266667,7.800000,20.700000,...,0.895100,0.409733,0.424733,5.683933,3,2015,165,9,PF/C,4
13841,25.000000,33.200000,108.750000,19.000000,57.350000,56.930000,15.550000,19.800000,5.500000,18.350000,...,0.397050,0.250000,1.602950,6.485300,2,2018,257,20,C,4

In [23]:
Variables_df_cat_encoded = pd.get_dummies(Variables_df, columns=['Last_Yr_in_College_Position'])
Variables_df_cat_encoded

,GP,Min_per,Ortg,usg,eFG,TS_per,ORB_per,DRB_per,AST_per,TO_per,...,Last_Yr_in_College_School_Yr_Num,Last_Yr_in_College_Position_C,Last_Yr_in_College_Position_Combo G,Last_Yr_in_College_Position_PF/C,Last_Yr_in_College_Position_Pure PG,Last_Yr_in_College_Position_Scoring PG,Last_Yr_in_College_Position_Stretch 4,Last_Yr_in_College_Position_Unknown,Last_Yr_in_College_Position_Wing F,Last_Yr_in_College_Position_Wing G
32,32.000000,90.033333,112.300000,29.200000,50.200000,56.323333,2.500000,10.200000,29.600000,16.333333,...,4,0,0,0,0,1,0,0,0,0
49,35.500000,61.100000,111.900000,22.050000,60.000000,59.310000,11.400000,13.950000,7.100000,16.950000,...,4,1,0,0,0,0,0,0,0,0
106,33.000000,51.100000,89.750000,19.000000,46.550000,50.070000,9.700000,11.200000,9.000000,27.700000,...,4,1,0,0,0,0,0,0,0,0
108,38.000000,85.733333,113.833333,24.500000,49.900000,54.343333,8.533333,14.866667,12.566667,14.666667,...,4,0,0,0,0,0,0,0,1,0
109,36.333333,73.000000,111.600000,25.033333,49.633333,54.560000,3.500000,7.966667,21.033333,17.066667,...,4,0,0,0,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9180,31.500000,48.800000,96.000000,19.050000,46.300000,52.130000,5.400000,10.600000,11.500000,22.050000,...,2,0,0,0,0,0,0,0,0,1
21453,15.000000,15.000000,50.100000,16.100000,28.300000,27.140000,1.000000,10.000000,15.900000,40.800000,...,3,0,0,0,0,0,0,0,0,1
1992,31.000000,38.700000,90.100000,12.800000,51.900000,48.850000,8.100000,16.700000,2.300000,20.600000,...,4,0,0,0,0,0,0,1,0,0
6084,29.000000,52.433333,96.233333,15.433333,43.233333,48.563333,8.366667,13.266667,7.800000,20.700000,...,4,0,0,1,0,0,0,0,0,0
13841,25.000000,33.200000,108.750000,19.000000,57.350000,56.930000,15.550000,19.800000,5.500000,18.350000,...,4,1,0,0,0,0,0,0,0,0

In [24]:
Variables_df_cat_encoded = Variables_df_cat_encoded.drop(columns=['Last_Yr_in_College_Position_Unknown'])
Variables_df_cat_encoded

,GP,Min_per,Ortg,usg,eFG,TS_per,ORB_per,DRB_per,AST_per,TO_per,...,Last_Yr_in_College_conf,Last_Yr_in_College_School_Yr_Num,Last_Yr_in_College_Position_C,Last_Yr_in_College_Position_Combo G,Last_Yr_in_College_Position_PF/C,Last_Yr_in_College_Position_Pure PG,Last_Yr_in_College_Position_Scoring PG,Last_Yr_in_College_Position_Stretch 4,Last_Yr_in_College_Position_Wing F,Last_Yr_in_College_Position_Wing G
32,32.000000,90.033333,112.300000,29.200000,50.200000,56.323333,2.500000,10.200000,29.600000,16.333333,...,8,4,0,0,0,0,1,0,0,0
49,35.500000,61.100000,111.900000,22.050000,60.000000,59.310000,11.400000,13.950000,7.100000,16.950000,...,22,4,1,0,0,0,0,0,0,0
106,33.000000,51.100000,89.750000,19.000000,46.550000,50.070000,9.700000,11.200000,9.000000,27.700000,...,1,4,1,0,0,0,0,0,0,0
108,38.000000,85.733333,113.833333,24.500000,49.900000,54.343333,8.533333,14.866667,12.566667,14.666667,...,1,4,0,0,0,0,0,0,1,0
109,36.333333,73.000000,111.600000,25.033333,49.633333,54.560000,3.500000,7.966667,21.033333,17.066667,...,1,4,0,0,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9180,31.500000,48.800000,96.000000,19.050000,46.300000,52.130000,5.400000,10.600000,11.500000,22.050000,...,22,2,0,0,0,0,0,0,0,1
21453,15.000000,15.000000,50.100000,16.100000,28.300000,27.140000,1.000000,10.000000,15.900000,40.800000,...,13,3,0,0,0,0,0,0,0,1
1992,31.000000,38.700000,90.100000,12.800000,51.900000,48.850000,8.100000,16.700000,2.300000,20.600000,...,5,4,0,0,0,0,0,0,0,0
6084,29.000000,52.433333,96.233333,15.433333,43.233333,48.563333,8.366667,13.266667,7.800000,20.700000,...,9,4,0,0,1,0,0,0,0,0
13841,25.000000,33.200000,108.750000,19.000000,57.350000,56.930000,15.550000,19.800000,5.500000,18.350000,...,20,4,1,0,0,0,0,0,0,0

In [25]:
Target = Equal_df['Drafted'].values
Target

array([1., 1., 1., ..., 0., 0., 0.])

In [26]:
X=Variables_df_cat_encoded
y=Target
print(len(X))
print(len(y))

6827
6827

In [27]:
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix, accuracy_score, classification_report

In [28]:
# Splitting into Train and Test sets
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=78)

In [29]:
print(X_train.shape)
print(X_test.shape)
print(y_train.shape)
print(y_test.shape)

(5120, 57)
(1707, 57)
(5120,)
(1707,)

In [30]:
# Creating StandardScaler instance
scaler = StandardScaler()

In [31]:
# Fitting Standard Scaller
X_scaler = scaler.fit(X_train)

In [32]:
# Scaling data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

print(X_train_scaled.shape)
print(X_test_scaled.shape)

(5120, 57)
(1707, 57)

In [34]:
#Undersampling
#from imblearn.under_sampling import RandomUnderSampler
#ros = RandomUnderSampler(random_state=1)
#X_resampled, y_resampled = ros.fit_resample(X_train_scaled, y_train)
#print(X_resampled.shape)
#print(y_resampled.shape)

In [33]:
print(len(X_train_scaled))
print(len(y_train))

5120
5120

In [34]:
from sklearn.ensemble import RandomForestClassifier
# Create a random forest classifier.
rf_model = RandomForestClassifier(n_estimators=500, random_state=78)

In [35]:
# Fitting the model
rf_model = rf_model.fit(X_train_scaled, y_train)

In [36]:
# Making predictions using the testing data.
predictions = rf_model.predict(X_test_scaled)

In [37]:
print(predictions)

[0. 0. 0. ... 0. 0. 0.]

In [38]:
len(predictions)

1707

In [39]:
len(y_test)

1707

In [40]:
#Model Evaluation
# Calculating the confusion matrix
cm = confusion_matrix(y_test, predictions)
cm_df = pd.DataFrame(
    cm, index=["Actual 0", "Actual 1"], columns=["Predicted 0", "Predicted 1"]
)

# Calculating the accuracy score
acc_score = accuracy_score(y_test, predictions)

In [41]:
# Displaying results
print("Confusion Matrix")
display(cm_df)
print(f"Accuracy Score : {acc_score}")
print("Classification Report")
print(classification_report(y_test, predictions))

Confusion Matrix

          Predicted 0  Predicted 1
Actual 0         1522           25
Actual 1           53          107

Accuracy Score : 0.9543057996485061
Classification Report
              precision    recall  f1-score   support

         0.0       0.97      0.98      0.98      1547
         1.0       0.81      0.67      0.73       160

    accuracy                           0.95      1707
   macro avg       0.89      0.83      0.85      1707
weighted avg       0.95      0.95      0.95      1707

In [42]:
# Calculate feature importance in the Random Forest model.
importances = rf_model.feature_importances_
importances

array([0.02715824, 0.0109514 , 0.01259884, 0.01179235, 0.00850803,
       0.00914866, 0.0076964 , 0.00893247, 0.00959942, 0.01048609,
       0.01777703, 0.01721661, 0.00923373, 0.02537199, 0.02160789,
       0.00883659, 0.00782435, 0.00865927, 0.00843683, 0.00975457,
       0.00851059, 0.00891871, 0.00838583, 0.05076243, 0.0410382 ,
       0.00900286, 0.01567309, 0.03797269, 0.06987491, 0.0462226 ,
       0.06166827, 0.02638307, 0.01648477, 0.09802082, 0.01231948,
       0.04118744, 0.02240424, 0.00819961, 0.01334552, 0.01209762,
       0.00898539, 0.0097704 , 0.01235333, 0.01933138, 0.00459816,
       0.0093406 , 0.00983908, 0.00899229, 0.04982898, 0.00079245,
       0.00086004, 0.00071019, 0.00036042, 0.00068195, 0.00089455,
       0.00116489, 0.0014324 ])

In [43]:
# We can sort the features by their importance.
sorted(zip(rf_model.feature_importances_, X.columns), reverse=True)

[(0.09802081654911901, 'gbpm'),
 (0.06987491303814114, 'dporpag'),
 (0.06166827008704075, 'bpm'),
 (0.050762433252176956, 'porpag'),
 (0.04982897773045996, 'Last_Yr_in_College_School_Yr_Num'),
 (0.04622259782487144, 'stops'),
 (0.04118744389125301, 'ogbpm'),
 (0.04103820346433896, 'adjoe'),
 (0.037972688898912144, 'adrtg'),
 (0.027158242034545248, 'GP'),
 (0.026383069654584063, 'obpm'),
 (0.025371992028229602, 'twoPM'),
 (0.022404244240644664, 'dgbpm'),
 (0.021607889247959193, 'twoPA'),
 (0.019331380127534156, 'pts'),
 (0.01777702860478395, 'FTM'),
 (0.017216608157116318, 'FTA'),
 (0.016484773224306443, 'dbpm'),
 (0.01567308557732928, 'drtg'),
 (0.013345515411793586, 'dreb'),
 (0.01259883768480225, 'Ortg'),
 (0.01235332682468658, 'blk'),
 (0.012319476038166133, 'mp'),
 (0.01209762075566624, 'treb'),
 (0.011792346993200734, 'usg'),
 (0.010951401428040661, 'Min_per'),
 (0.010486090577869025, 'TO_per'),
 (0.009839076526881829, 'Last_Yr_in_College_team'),
 (0.009770401659962154, 'stl'),
 (0.009754568451233027, 'blk_per'),
 (0.009599416973175857, 'AST_per'),
 (0.009340601666498968, 'Last_Yr_in_College_Date_Yr'),
 (0.009233732617157037, 'FT_per'),
 (0.009148664395099853, 'TS_per'),
 (0.009002864087636312, 'pfr'),
 (0.008992294724843735, 'Last_Yr_in_College_conf'),
 (0.008985389715544332, 'ast'),
 (0.008932465614842212, 'DRB_per'),
 (0.00891870620621306, 'ftr'),
 (0.008836591863667777, 'twoP_per'),
 (0.008659273181578515, 'TPA'),
 (0.008510585648362587, 'stl_per'),
 (0.008508028008600229, 'eFG'),
 (0.008436829142068485, 'TP_per'),
 (0.00838583443989307, 'ht'),
 (0.008199607781378867, 'oreb'),
 (0.007824348796253065, 'TPM'),
 (0.007696397776306347, 'ORB_per'),
 (0.004598164115523324, 'Number_of_Yrs_Played'),
 (0.0014323995180767631, 'Last_Yr_in_College_Position_Wing G'),
 (0.0011648865722755763, 'Last_Yr_in_College_Position_Wing F'),
 (0.0008945473258595273, 'Last_Yr_in_College_Position_Stretch 4'),
 (0.000860041462693277, 'Last_Yr_in_College_Position_Combo G'),
 (0.0007924527347064756, 'Last_Yr_in_College_Position_C'),
 (0.0007101873945253199, 'Last_Yr_in_College_Position_PF/C'),
 (0.0006819506745100397, 'Last_Yr_in_College_Position_Scoring PG'),
 (0.000360417577060974, 'Last_Yr_in_College_Position_Pure PG')]

In [ ]:
#BREAK

In [ ]:
#BREAK

In [ ]:
#BREAK

In [93]:
#Try Certain year of players
Years = [2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021]
Output_df = pd.DataFrame()

for y in Years:
    Df_Year = Grouped_Player_Avgs_Clean[Grouped_Player_Avgs_Clean['Last_Yr_in_College_Date_Yr'] == y]
    Variables_Df_Year = Df_Year

    Variables_Df_Year = Variables_Df_Year.drop(columns=['pid','player_name','pick','Drafted','Round_Drafted'])

    #Encode School_Yr
    School_Yr_dict = {
        'Fr':1,
        'So':2,
        'Jr':3,
        'Sr':4
        }

    Variables_Df_Year["Last_Yr_in_College_School_Yr_Num"] = Variables_Df_Year["Last_Yr_in_College_School_Yr"].apply(lambda x: School_Yr_dict[x])
    

    Variables_Df_Year = Variables_Df_Year.drop(columns = ['Last_Yr_in_College_School_Yr'], axis=1)


    Variables_Df_Year_cat_encoded = pd.get_dummies(Variables_Df_Year, columns=['Last_Yr_in_College_Position'])


    if 'Last_Yr_in_College_Position_Unknown' in Variables_Df_Year_cat_encoded.columns:
        Variables_Df_Year_cat_encoded = Variables_Df_Year_cat_encoded.drop(columns=['Last_Yr_in_College_Position_Unknown'])   

    Target_Year = Df_Year['Drafted'].values

    X_Yr=Variables_Df_Year_cat_encoded
    y_Yr=Target_Year
    print(len(X_Yr))
    print(len(y_Yr))

    # Creating StandardScaler instance
    scaler = StandardScaler()

    # Fitting Standard Scaller
    X_scaler = scaler.fit(X_Yr)

    # Scaling data
    X_Yr_scaled = X_scaler.transform(X_Yr)

    print(X_Yr_scaled.shape)

    # Making predictions using the testing data.
    predictions_Yr = rf_model.predict(X_Yr_scaled)

    print(len(predictions_Yr))
    print(len(y_Yr))

    #Model Evaluation
    # Calculating the confusion matrix
    cm = confusion_matrix(y_Yr, predictions_Yr)
    cm_df = pd.DataFrame(
        cm, index=["Actual 0", "Actual 1"], columns=["Predicted 0", "Predicted 1"]
    )

    # Calculating the accuracy score
    acc_score = accuracy_score(y_Yr, predictions_Yr)

    # Displaying results
    print(y)
    print("Confusion Matrix")
    display(cm_df)
    print(f"Accuracy Score : {acc_score}")
    print("Classification Report")
    print(classification_report(y_Yr, predictions_Yr))

    #Create DF of Predictions vs Results
    Df_Year['Actual'] = y_Yr
    Df_Year['Predictions'] = predictions_Yr
    Output_df = Output_df.append(Df_Year)

2010
874
874
(874, 57)
874
874
Confusion Matrix

          Predicted 0  Predicted 1
Actual 0          810           11
Actual 1           12           41

Accuracy Score : 0.9736842105263158
Classification Report
              precision    recall  f1-score   support

         0.0       0.99      0.99      0.99       821
         1.0       0.79      0.77      0.78        53

    accuracy                           0.97       874
   macro avg       0.89      0.88      0.88       874
weighted avg       0.97      0.97      0.97       874

2011
900
900
(900, 57)

C:\Users\tyler\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:74: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\tyler\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:75: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

900
900
Confusion Matrix

          Predicted 0  Predicted 1
Actual 0          846            9
Actual 1            5           40

Accuracy Score : 0.9844444444444445
Classification Report
              precision    recall  f1-score   support

         0.0       0.99      0.99      0.99       855
         1.0       0.82      0.89      0.85        45

    accuracy                           0.98       900
   macro avg       0.91      0.94      0.92       900
weighted avg       0.99      0.98      0.98       900

2012
853
853
(853, 57)

C:\Users\tyler\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:74: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\tyler\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:75: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

853
853
Confusion Matrix

          Predicted 0  Predicted 1
Actual 0          788           13
Actual 1            8           44

Accuracy Score : 0.9753810082063306
Classification Report
              precision    recall  f1-score   support

         0.0       0.99      0.98      0.99       801
         1.0       0.77      0.85      0.81        52

    accuracy                           0.98       853
   macro avg       0.88      0.91      0.90       853
weighted avg       0.98      0.98      0.98       853

2013
859
859
(859, 57)

C:\Users\tyler\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:74: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\tyler\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:75: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

859
859
Confusion Matrix

          Predicted 0  Predicted 1
Actual 0          801           12
Actual 1            9           37

Accuracy Score : 0.9755529685681025
Classification Report
              precision    recall  f1-score   support

         0.0       0.99      0.99      0.99       813
         1.0       0.76      0.80      0.78        46

    accuracy                           0.98       859
   macro avg       0.87      0.89      0.88       859
weighted avg       0.98      0.98      0.98       859

2014
938
938
(938, 57)

C:\Users\tyler\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:74: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\tyler\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:75: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

938
938
Confusion Matrix

          Predicted 0  Predicted 1
Actual 0          879           14
Actual 1            9           36

Accuracy Score : 0.9754797441364605
Classification Report
              precision    recall  f1-score   support

         0.0       0.99      0.98      0.99       893
         1.0       0.72      0.80      0.76        45

    accuracy                           0.98       938
   macro avg       0.85      0.89      0.87       938
weighted avg       0.98      0.98      0.98       938

2015
956
956
(956, 57)

C:\Users\tyler\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:74: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\tyler\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:75: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

956
956
Confusion Matrix

          Predicted 0  Predicted 1
Actual 0          889           21
Actual 1            8           38

Accuracy Score : 0.9696652719665272
Classification Report
              precision    recall  f1-score   support

         0.0       0.99      0.98      0.98       910
         1.0       0.64      0.83      0.72        46

    accuracy                           0.97       956
   macro avg       0.82      0.90      0.85       956
weighted avg       0.97      0.97      0.97       956

2016
955
955
(955, 57)

C:\Users\tyler\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:74: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\tyler\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:75: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

955
955
Confusion Matrix

          Predicted 0  Predicted 1
Actual 0          889           22
Actual 1            6           38

Accuracy Score : 0.9706806282722513
Classification Report
              precision    recall  f1-score   support

         0.0       0.99      0.98      0.98       911
         1.0       0.63      0.86      0.73        44

    accuracy                           0.97       955
   macro avg       0.81      0.92      0.86       955
weighted avg       0.98      0.97      0.97       955

2017
964
964
(964, 57)

C:\Users\tyler\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:74: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\tyler\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:75: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

964
964
Confusion Matrix

          Predicted 0  Predicted 1
Actual 0          895           18
Actual 1            5           46

Accuracy Score : 0.9761410788381742
Classification Report
              precision    recall  f1-score   support

         0.0       0.99      0.98      0.99       913
         1.0       0.72      0.90      0.80        51

    accuracy                           0.98       964
   macro avg       0.86      0.94      0.89       964
weighted avg       0.98      0.98      0.98       964

2018
1000
1000
(1000, 57)

C:\Users\tyler\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:74: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\tyler\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:75: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

1000
1000
Confusion Matrix

          Predicted 0  Predicted 1
Actual 0          930           20
Actual 1           10           40

Accuracy Score : 0.97
Classification Report
              precision    recall  f1-score   support

         0.0       0.99      0.98      0.98       950
         1.0       0.67      0.80      0.73        50

    accuracy                           0.97      1000
   macro avg       0.83      0.89      0.86      1000
weighted avg       0.97      0.97      0.97      1000

2019
976
976
(976, 57)

C:\Users\tyler\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:74: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\tyler\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:75: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

976
976
Confusion Matrix

          Predicted 0  Predicted 1
Actual 0          907           19
Actual 1            9           41

Accuracy Score : 0.9713114754098361
Classification Report
              precision    recall  f1-score   support

         0.0       0.99      0.98      0.98       926
         1.0       0.68      0.82      0.75        50

    accuracy                           0.97       976
   macro avg       0.84      0.90      0.87       976
weighted avg       0.97      0.97      0.97       976

2020
1143
1143
(1143, 57)

C:\Users\tyler\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:74: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\tyler\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:75: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

1143
1143
Confusion Matrix

          Predicted 0  Predicted 1
Actual 0         1068           27
Actual 1            5           43

Accuracy Score : 0.9720034995625547
Classification Report
              precision    recall  f1-score   support

         0.0       1.00      0.98      0.99      1095
         1.0       0.61      0.90      0.73        48

    accuracy                           0.97      1143
   macro avg       0.80      0.94      0.86      1143
weighted avg       0.98      0.97      0.97      1143

2021
2664
2664
(2664, 57)

C:\Users\tyler\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:74: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\tyler\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:75: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

2664
2664
Confusion Matrix

          Predicted 0  Predicted 1
Actual 0         2526           89
Actual 1           13           36

Accuracy Score : 0.9617117117117117
Classification Report
              precision    recall  f1-score   support

         0.0       0.99      0.97      0.98      2615
         1.0       0.29      0.73      0.41        49

    accuracy                           0.96      2664
   macro avg       0.64      0.85      0.70      2664
weighted avg       0.98      0.96      0.97      2664

C:\Users\tyler\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:74: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\tyler\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:75: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [94]:
print(len(Output_df))

13082

In [95]:
Output_df

,pid,GP,Min_per,Ortg,usg,eFG,TS_per,ORB_per,DRB_per,AST_per,...,Round_Drafted,Number_of_Yrs_Played,Last_Yr_in_College_Date_Yr,player_name,Last_Yr_in_College_team,Last_Yr_in_College_conf,Last_Yr_in_College_School_Yr,Last_Yr_in_College_Position,Actual,Predictions
17,34,28.5,43.55,100.70,17.05,47.35,51.825,4.25,10.75,9.55,...,0.0,2,2010,EULIS STEPHENS,58,10,Sr,Wing G,0.0,0.0
26,47,30.0,85.60,101.75,26.00,45.95,52.595,1.20,6.85,12.55,...,0.0,2,2010,CHRIS HARRIS,151,19,Sr,Combo G,0.0,0.0
27,49,22.0,17.30,82.55,14.60,35.25,44.390,7.90,9.35,5.95,...,0.0,2,2010,T.J. TOPERCER,151,19,Sr,Stretch 4,0.0,0.0
33,60,34.0,79.85,110.90,16.95,50.55,59.790,4.25,9.90,20.20,...,0.0,2,2010,PIERRE CURTIS,110,8,Sr,Scoring PG,0.0,0.0
35,62,23.5,15.65,94.65,16.50,46.30,47.750,3.30,11.10,7.15,...,0.0,2,2010,MATT PARKER,110,8,Sr,Stretch 4,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22359,74187,19.0,57.80,109.50,17.50,59.10,61.380,5.90,16.20,8.80,...,0.0,1,2021,MUSTAPHA AMZIL,53,0,Fr,Stretch 4,0.0,0.0
22361,74190,18.0,47.50,67.40,20.70,37.20,38.000,0.90,11.80,23.80,...,0.0,1,2021,CARTER WHITT,271,1,Fr,Scoring PG,0.0,0.0
22365,74203,16.0,12.90,129.50,13.20,67.90,65.840,8.50,8.50,2.40,...,0.0,1,2021,FRANCK KEPNANG,181,18,Fr,C,0.0,0.0
22367,74217,9.0,17.10,86.90,21.80,39.10,40.090,7.30,12.30,6.50,...,0.0,1,2021,DAVID JONES,54,5,Fr,Wing F,0.0,0.0
22368,74218,13.0,11.00,99.10,15.10,60.00,55.370,10.20,21.20,3.80,...,0.0,1,2021,MAC ETIENNE,251,18,Fr,C,0.0,0.0

In [96]:
Output_df.to_csv('Collective_Supervised_ML_Results.csv', index=False)